{%- from "vault/map.jinja" import vault_settings with context -%}
[Unit]
Description=Hashicorp Vault secret management service
Documentation=http://vaultproject.io

[Service]
Type=forking
ExecStart={{ vault_settings.install_location }}/{{ vault_settings.vault_service }} start
ExecStop={{ vault_settings.install_location }}/{{ vault_settings.vault_service }} stop
ExecReload={{ vault_settings.install_location }}/{{ vault_settings.vault_service }} reload
Restart=always
PIDFile={{ vault_settings.pidfile }}
TimeoutStartSec=1

[Install]
WantedBy=multi-user.target
